# Build artifacts (ignore the entire target directory by default)
target/
debug/
release/

# Allow specific release binaries for the Docker build
!target/x86_64-unknown-linux-musl/release/travel-rs
!target/aarch64-unknown-linux-musl/release/travel-rs
!target/armv7-unknown-linux-musleabihf/release/travel-rs

# Version control
.git/
.github/
.gitignore

# Development files
.env
.env.*
*.pdb
*.log

# Documentation
*.md
README*

# Project specific
config/
locales/
Dockerfile
.dockerignore

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Dependencies
vendor/

# Telegram bot token
*token.txt

# Chat whitelist file
dev-chat-whitelist.txt

# Logs folder
logs/
